
.car-header{
  width: 50px;
margin: 5px;
border-radius: 34px;
border: solid 1px #707070;

}
.principal{
  width: 50px;
  margin: 5px;
  border-radius: 34px;
  border: solid 1px #707070;
margin-left: 80%;
}
.lista{
  width: 65%;
  margin-left: 5%;
  margin-top: 5%;
}